html{
    /* font-family: cursive; alterando a fonte */
    background-color: #27374D;
}

/* MENU */
header{ /* alinha logo com menu lado a lado */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header a{ /* tira sublinhado e muda cor do link */
    text-decoration: none;
    color: white;
}
.logo{ /* alinha logo com título lado a lado */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{ /* tamanho do logo */
    width: 55px;
}
.menu ul{ /* alinha lista menu lado a lado */
    list-style: none;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu ul li{ /* borda colorida na lista menu */
    border-radius: 25px;
    padding: 7px;
}
#inicio{ /* cor personalizada em cada pagina */
    background-color: white;
}
#inicio a{ /* cor personalizada em cada pagina */
    color: black;
}
#sobre{ /* cor personalizada em cada pagina */
    background-color: white;
}
#sobre a{ /* cor personalizada em cada pagina */
    color: black;
}
#planos{ /* cor personalizada em cada pagina */
    background-color: white;
}
#planos a{ /* cor personalizada em cada pagina */
    color: black;
}
#contato{ /* cor personalizada em cada pagina */
    background-color: white;
}
#contato a{ /* cor personalizada em cada pagina */
    color: black;
}

/* PRINCIPAL */
main{
    
}
.formatacaoDiv{ /* alinha section com a div que estão no main */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
    height: 400px;
    text-align: center;
}
#imagemApresentacaoPlanos{
    background-image: url('Media/server.jpg');
    background-size: cover;
    background-position: center;
    
}
.apresentacaoPlanos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 500px;
}
.apresentacaoPlanos div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #27374D;
    border-radius: 25px;
    padding: 20px;
    width: 25%;
    text-align: center;
}
.apresentacaoPlanos h4{
    background-color: white;
    color: #27374D;
    border-radius: 25px;
    padding: 7px;
}
.imagemRedonda{
    border-radius: 500px;
    width: 300px;
    height: 300px;
}

/* RODAPE */
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    color: white;
}