html{
    /* font-family: cursive; alterando a fonte */
    background-color: #27374D;
}

/* MENU */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header a{
    text-decoration: none;
    color: white;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 55px;
}
.menu ul{
    list-style: none;
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menu ul li{
    border-radius: 25px;
    padding: 7px;
}
#inicio{
    background-color: white;
}
#inicio a{
    color: black;
}
#sobre{
    background-color: white;
}
#sobre a{
    color: black;
}
#planos{
    background-color: white;
}
#planos a{
    color: black;
}
#contato{
    background-color: white;
}
#contato a{
    color: black;
}

/* PRINCIPAL */
.formatacaoDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
    height: 400px;
    text-align: center;
}
#imagemApresentacaoPlanos{
    background-image: url('Media/server.jpg');
    background-size: cover;
    background-position: center;
    
}
.apresentacaoPlanos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 500px;
}
.apresentacaoPlanos div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #27374D;
    border-radius: 25px;
    padding: 20px;
    width: 25%;
    text-align: center;
}
.apresentacaoPlanos h4{
    background-color: white;
    color: #27374D;
    border-radius: 25px;
    padding: 7px;
}
.imagemRedonda{
    border-radius: 500px;
    width: 300px;
    height: 300px;
}
.lista{
    list-style: disc;
    text-align: justify;
}
.opcaoPlanos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.opcaoPlanos div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background-color: white;
    border-radius: 25px;
    padding: 20px;    
    color: #27374D;
}
.opcaoPlanos h4{
    background-color: #27374D;
    color: white;
    border-radius: 25px;
    padding: 7px;
}

/* RODAPE */
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    color: white;
}